# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env*
service-account.json

# System files
.DS_Store
*.pem

# Vercel / Netlify
.vercel
.netlify